@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
    scroll-behavior: smooth;

}
body {
  webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.content:hover + .cursor {
  transform: scale(1.5);
}
.cursor {
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-outline {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
}

.text-outline:hover {
  -webkit-text-stroke-color: transparent;
}

.animateLogo {
  animation: logoBlink 2s infinite;
}
.animateLogo:hover {
  animation: none;
}

@keyframes logoBlink {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

.removeScroll::-webkit-scrollbar {
  display: none;
}
.removeScroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.swiper-pagination .swiper-pagination-bullet {
  position: relative;
  background: #fff;
  transform: scale(1.2);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  transition: all .4s;
}

.swiper-pagination .swiper-pagination-bullet-active {
  width: 40px;
  border-radius: 10px;
 background: #fff;
}
